@charset 'UTF-8';

// Imports and variables
@import 'variables';
@import 'helpers';

*, *:before, *:after {
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 100%;
  color: #333;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0;
  font-weight: 300;
  overflow-x: hidden;
  border-top: 3px solid $color-main;
}

.container{
  position: relative;
  padding: 0 16px;
  max-width: 1114px;
  margin: 0 auto;
  @media ($desktopHD) {
    padding: 0;
  }
}

::selection {
  background-color: $color-main;
}

img{ max-width: 100%; }

.align-center { text-align: center; }

.header{
  height: 90px;
  @media ($desktop) {
    height: 120px;
  }
}

.top-name{
  text-decoration: none;
  color: #333;
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 13px;
  @media ($desktopHD) {
    font-size: 18px;
    left: 0;
  }
}

.contact-link{
  text-decoration: none;
  color: #333;
  transition: 100ms;
  position: relative;

  &:after{
    opacity: 0;
    width: 100%;
      height: 6px;
      background-color: rgba($color-main, .6);
      content: " ";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0px;
      transition: 200ms;
  }
  &:hover{
    &:after{
      opacity: 1;
      transition: 200ms;
    }
  }

}

.contact-links{
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 13px;

  &__col{
    width: 60px;
    display: inline-block;
    @media ($desktopHD) {
      width: 70px;
    }
  }

  @media ($desktopHD) {
    font-size: 16px;
    right: 0;
  }
}

.hallo{
  font-family: 'Poppins', serif;
  font-size: 18vw;
  text-align: center;
  font-weight: bold;
  margin: 0 0 16px 0;
  @media ($desktop) {
    font-size: 120px;
  }
}

.intro{
  text-align: center;
  font-size: 16px;
  padding: 0 16px;
  max-height: 100px;
  transition: 1000ms;
  max-width: 690px;
  padding: 0 16px;
  color: #4e4e4e;

  @media ($desktop) {
    margin: 0 auto;
    margin-bottom: 45px;
  }

  p{
    margin: 0 0 16px 0;
  }

  &__more-link{
    color: #9B9B9B;
    cursor: pointer;
    display: block;
  }

  &__more{
    opacity: 0;
    transition: 400ms;

  }

  &--active{
    max-height: 900px;

    .intro__more{
      opacity: 1;
    }
    .intro__more-link{
      display: none;
    }
  }

}

.intro, .project-detail__intro{

  a{
    color: #333;
    text-decoration: none;
    position: relative;
  }

  a:after{
    opacity: .5;
    width: 100%;
    height: 6px;
    background-color: $color-main;
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    bottom: 3px;
    transition: 400ms;
  }
  a:hover{
    &:after{
      opacity: 1;
      transition: 400ms;
    }
  }
}

.section-projects{
  margin: 0;
  display: grid;

  @media ($desktop) {
    margin-left: 0;
    margin-right: 0;
  }
}

.projects-grid {

  display: grid;
  grid-template-columns: 1fr;
  column-gap: 16px;
  row-gap: 16px;

  @media (min-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project {

  position: relative;
  transition: 200ms;

  &:hover {
    @include hover-enabled() {
      transition: 200ms;
      box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.1);
    }
  }

  &__img {
    display: block;
    font-size: 0;
  }

  &__title {
    font-family: 'Poppins', serif;
    font-size: 28px;
    color: #333333;
    font-weight: bold;
    margin: 0;
    z-index: 5;
    transition: 200ms;

    .hover &, .project:hover &{
      background: rgba($color-main, 0);
      box-shadow: none;
      transition: 200ms;
    }
  }

  &__cat {
    color: #82883F;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
  }

  &__description{
    text-align: right;
    color: #333;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 16px 16px 0 16px;

    opacity: 0;
    transition: 100ms ease-in;
    background-position: center;

    @media ($desktop) {
      width: 100%;
    }

    .hover &, .project:hover &{
      background-color: rgba($color-main, .9);
      opacity: 1;
    }
  }

  &__overlay-content{
    @extend %centerer;
    text-align: center;
    width: 100%;
    line-height: 1.2;
  }

}

.footer{
  color: #666;
  padding: 15px 0;
  font-size: 13px;
  text-align: center;

}

.project-detail{
  &__title{
    font-family: 'Poppins', serif;
    font-size: 34px;
    text-align: center;
    font-weight: bold;
    margin: 0 0 16px 0;
    @media ($desktop) {
      font-size: 56px;
    }
  }

  &__intro{
    font-size: 18px;
    line-height: 23px;
    max-width: 660px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 16px;
    font-weight: 300;
    color: #4e4e4e;
    p{
      margin-top: 0;
    }
    @media ($desktop) {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 32px;
    }
  }

  &__img{
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 16px;
    display: block;
  }
}

.up{
  text-align: center;

  a{
    display: inline-block;
    text-decoration: none;
    font-size: 32px;

    padding: 32px;
    @media ($desktop){
      padding: 64px;
    }

    &:hover {
      animation-name: floating;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }

}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0%);
  }
}
